footer {
    background-color: #1A1315;
    color: #EAE9EA;
    height: 370px;
    width: auto;
}

p {
    font-family: 'Roboto', sans-serif;
}

.nomor{
    display: flex;
}

.nomor-telpon{
    padding: 100px 100px 50px 150px;
}

.nomor-alamat{
    padding: 100px 100px 50px 100px;
}

.btn-sosmed {
    display: flex;
}

.atas {
    text-align: center;
}

.telpon {
    letter-spacing: 5px;
}

.alamat {
    letter-spacing: 1.5px;
}

.twitter {
    padding: 50px 20px 20px 150px;
    color: #EAE9EA;
}

.facebook {
    padding: 50px 15px 20px 15px;
    color: #EAE9EA;
}

.instagram {
    padding: 50px 20px 20px 20px;
    color: #EAE9EA;
}