footer {
    background-color: #1A1315;
    color: #EAE9EA;
    height: 370px;
    width: auto;
}

.nomor{
    display: flex;
}

.nomor-telpon{
    margin: 100px 150px;
}

.nomor-alamat{
    margin: 100px 100px;
}

.btn-sosmed {
    margin: 5px;
}

.twitter {
    margin: 5px 150px;
    color: #EAE9EA;
    width: 50px;
    height: 50px;
}