footer {
    background-color: #1A1315;
    color: #EAE9EA;
    height: 300px;
    width: auto;
}

.nomor-telpon {
    float: left;
    margin: 100px 50px 50px;
}

.nomor-alamat {
    float: left;
    margin: 100px 50px 50px;
}

p {
    font-family: 'Roboto', sans-serif;
}

.atas-telpon {
    letter-spacing: 7px;
    font-size: 12px;
}

.atas-alamat {
    letter-spacing: 3px;
    font-size: 12px;
}

.email {
    font-size: 10px;
}

.alamat {
    font-size: 10px;
}

.btn-sosmed {
    color: #fff;
    padding-bottom: 20px;
    float: left;
    margin: 50px 100px;
}